.about {
    position: relative;

    .title {
        margin-bottom: 73px;

        @include tablet {
            margin-bottom: 65px;
        }

        @include mobile {
            margin-bottom: 55px;
        }
    }

    &::before {
        @include absolute(null, null, -50px, -20px);
        @include size(266px, 243px);
        background: {
            image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" fill="#{$color-1--1}" version="1.1" viewBox="0 0 266 243.3"><path d="M254.3,55.9S234.1,13,187.1,2.6c-47-10.4-95.6,13.3-135.4,31.5C11.9,52.2-7.8,91.4,2.9,128.8s44.6,31.7,77.8,62.8,37.5,45,81.9,51.1,90.9-37.6,100.6-94.6-8.9-92.2-8.9-92.2Z"/></svg>');
            repeat: no-repeat;
            size: cover;
        };
        content: '';
        z-index: -1;

        @include tablet {
            bottom: auto;
            left: -50px;
            top: 150px;
        }

        @include mobile {
            @include size(115px, 105px);
            left: -30px;
            top: 220px;
        }
    }

    &__wrapper {
        display: grid;
        gap: 0 125px;
        grid-template-columns: 486px 588px;
        justify-content: center;

        @include tablet {
            gap: 30px 0;
            grid-template-columns: auto;
        }

        @include mobile {
            gap: 40px 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px 0;

        @include tablet {
            gap: 30px 0;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 7px 0;
    }

    &__row {
        @include flex-all-sb;
    }

    &__percent {
        color: var(--color-1--3);
    }
    
    &__line {
        @include size(100%, 3px);
        background-color: var(--color-1--1);
        border-radius: 6px;
    }

    &__line-progress {
        @include size(0, 7px);
        background-color: var(--color-1--2);
        border-radius: 10px;
        transition: width 1s ease-in-out;
        transform: translateY(-2px);
    }

    &__button {
        @include tablet {
            display: flex;
            justify-content: center;
        }
    }
}