<section id="about" class="section about">
    <div class="container">
        <div class="title is-left">
            <h2 class="title__text">about me</h2>
        </div>
        <div class="about__wrapper">
            <div class="about__info">
                <p class="about__paragraph paragraph">
                    With years of experience in the industry, I have mastered the art of designing 
                    websites that not only look great but also drive conversions and generate leads.
                </p>
                <p class="about__paragraph paragraph">
                    I use the latest design trends and technologies to create responsive, mobile-friendly 
                    websites that work seamlessly on any device.
                </p>
            </div>
            <div class="about__content">
                <div class="about__inner">
                    <div class="about__group">
                        <div class="about__row">
                            <p class="about__category paragraph">Figma</p>
                            <p class="about__percent paragraph">90%</p>
                        </div>
                        <div class="about__line">
                            <div class="about__line-progress"></div>
                        </div>
                    </div>
                    <div class="about__group">
                        <div class="about__row">
                            <p class="about__category paragraph">Adobe Illustrator</p>
                            <p class="about__percent paragraph">60%</p>
                        </div>
                        <div class="about__line">
                            <div class="about__line-progress"></div>
                        </div>
                    </div>
                    <div class="about__group">
                        <div class="about__row">
                            <p class="about__category paragraph">UI/UX</p>
                            <p class="about__percent paragraph">85%</p>
                        </div>
                        <div class="about__line">
                            <div class="about__line-progress"></div>
                        </div>
                    </div>
                    <div class="about__group">
                        <div class="about__row">
                            <p class="about__category paragraph">HTML/CSS</p>
                            <p class="about__percent paragraph">70%</p>
                        </div>
                        <div class="about__line">
                            <div class="about__line-progress"></div>
                        </div>
                    </div>
                </div>
                <div class="about__button">
                    <a href="#" class="btn is-large">DOWNLOAD CV</a>
                </div>
            </div>
        </div>
    </div>
</section>