<section id="contact" class="section contact">
    <div class="container">
        <div class="title is-secondary">
            <h2 class="title__text">get in touch</h2>
        </div>
        <div class="contact__wrapper">
            <div class="contact__info">
                <div class="contact__item">
                    <div class="contact__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 384">
                            <path d="M502.3,126.8c-22.4,17.4-52,39.6-154,113.7-20.3,14.8-56.6,47.9-92.3,47.6-35.5.2-71.1-32.2-92.2-47.6C61.8,166.4,32.1,144.3,9.7,126.9c-2.6-2.1-6.3-1.6-8.4,1C.5,128.9,0,130.2,0,131.6v204.4c0,26.5,21.5,48,48,48h416c26.5,0,48-21.5,48-48v-204.5c0-3.3-2.7-6-6.1-6-1.3,0-2.6.5-3.6,1.3ZM256,256c23.2.4,56.6-29.2,73.4-41.4,132.7-96.3,142.8-104.7,173.4-128.7,5.8-4.5,9.2-11.5,9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5,0,0,21.5,0,48v19c0,7.4,3.4,14.3,9.2,18.9,30.6,23.9,40.7,32.4,173.4,128.7,16.8,12.2,50.2,41.8,73.4,41.4Z"/>
                        </svg>
                    </div>
                    <div class="contact__group">
                        <p class="contact__title">email</p>
                        <a href="mailto:oliviadesign@gmail.com" class="contact__link paragraph">oliviadesign@gmail.com</a>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                            <path d="M256,512c91.5,0,176-48.8,221.7-128,45.7-79.2,45.7-176.8,0-256C432,48.8,347.5,0,256,0,164.5,0,80,48.8,34.3,128c-45.7,79.2-45.7,176.8,0,256,45.7,79.2,130.2,128,221.7,128ZM186.7,128.7c9.7-2.7,19.8,2.3,23.7,11.6l20,48c3.4,8.2,1,17.6-5.8,23.2l-24.6,20.2c16.7,35.3,45,63.7,80.3,80.3l20.2-24.7c5.6-6.8,15-9.2,23.2-5.8l48,20c9.3,3.9,14.2,14,11.6,23.7l-12,44c-2.4,8.7-10.3,14.8-19.3,14.8-123.7,0-224-100.3-224-224,0-9,6-16.9,14.7-19.3l44-12Z"/>
                        </svg>
                    </div>
                    <div class="contact__group">
                        <p class="contact__title">phone</p>
                        <a href="tel:+15553233597" class="contact__link paragraph">+1 (555) 323-3597</a>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 511.9 512">
                            <path d="M347.4,156.9C332.4,64.7,297.1,0,256,0s-76.4,64.7-91.4,156.9h182.7ZM156.9,256c0,22.1,1.1,44.1,3.4,66.1h191.3c2.3-21.9,3.4-44,3.4-66.1,0-22.1-1.1-44.1-3.4-66.1h-191.3c-2.3,21.9-3.4,44-3.4,66.1ZM492.1,156.9c-29.8-70.6-89.6-124.3-163.1-146.2,25.1,34.9,42.5,87.4,51.5,146.2h111.5ZM182.9,10.7C109.5,32.7,49.7,86.3,19.9,156.9h111.5c9-58.7,26.3-111.3,51.5-146.2h0ZM503.1,189.9h-118.4c2.2,21.7,3.4,43.9,3.4,66.1s-1.2,44.4-3.4,66.1h118.3c5.9-21.5,8.8-43.7,8.9-66.1,0-22.3-3-44.5-8.8-66.1ZM123.9,256c0-22.2,1.2-44.4,3.4-66.1H8.9C3.1,211.5,0,233.7,0,256c0,22.3,3.1,44.5,8.9,66.1h118.3c-2.1-21.7-3.3-43.9-3.3-66.1h0ZM164.7,355.1c15,92.2,50.2,156.9,91.4,156.9s76.3-64.7,91.3-156.9h-182.7ZM329.1,501.3c73.5-21.9,133.3-75.5,163.1-146.2h-111.5c-9.1,58.7-26.4,111.3-51.6,146.2ZM19.9,355.1c29.8,70.6,89.6,124.3,163.1,146.2-25.2-34.9-42.5-87.4-51.6-146.2H19.9Z"/>
                        </svg>
                    </div>
                    <div class="contact__group">
                        <p class="contact__title">website</p>
                        <a href="#" class="contact__link paragraph">www.olidesign.com</a>
                    </div>
                </div>
            </div>
            <div class="contact__content">
                <form class="contact__form" action="#" id="contact-form">
                    <div class="contact__inner">
                        <input
                            class="contact__input"
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Email">
                        <span id="email-error" class="error-message"></span>
                    </div>
                
                    <div class="contact__custom-select">
                        <p class="contact__selected-item">Subject</p>
                        <div class="contact__dropdown">
                            <div class="contact__option js-option">Subject 1</div>
                            <div class="contact__option js-option">Subject 2</div>
                            <div class="contact__option js-option">Subject 3</div>
                        </div>
                    </div>
                
                    <div class="contact__inner">
                        <textarea class="contact__area" name="comment" id="comment" rows="6" placeholder="Write your message here"></textarea>
                        <span id="comment-error" class="error-message"></span>
                    </div>
                
                    <div class="contact__button">
                        <button type="submit" class="btn">SEND YOUR MESSAGE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>