<section class="section contact-us">
    <div class="container">
        <div class="contact-us__wrapper">
            <div class="contact-us__picture">
                <img src="../img/img-hire.png" alt="picture">
            </div>
            <div class="contact-us__content">
                <p class="contact-us__descr">Are you interested work with me?</p>
                <div class="contact-us__button">
                    <a href="#" class="btn is-large">Hire me</a>
                </div>
            </div>
        </div>
    </div>
</section>