<section id="experience" class="section experience">
    <div class="container">
        <div class="title">
            <h2 class="title__text">experience</h2>
        </div>
        <div class="experience__wrapper">
            <div class="experience__item">
                <div class="experience__content">
                    <h3 class="experience__title item-title">Web Design</h3>
                    <p class="experience__paragraph paragraph is-small">
                        I was skilled in creating websites that are responsive and adapt well to different 
                        devices and screen sizes, ensuring optimal user experience.
                    </p>
                </div>
                <p class="experience__date">MAR 2020</p>
            </div>
            <div class="experience__item is-reverse">
                <p class="experience__date">APR 2020</p>
                <div class="experience__content">
                    <h3 class="experience__title item-title">Web Development</h3>
                    <p class="experience__paragraph paragraph is-small">
                        I have a strong understanding of HTML (Hypertext Markup Language) and CSS (Cascading Style Sheets), 
                        which are the fundamental building blocks of web pages.
                    </p>
                </div>
            </div>
            <div class="experience__item">
                <div class="experience__content">
                    <h3 class="experience__title item-title">Brand Building</h3>
                    <p class="experience__paragraph paragraph is-small">
                        Creating a compelling and visually appealing brand identity is crucial for brand recognition. 
                        This includes designing a logo, choosing appropriate color palettes, typography, and creating 
                        consistent visual assets across various platforms.
                    </p>
                </div>
                <p class="experience__date">MAR 2019</p>
            </div>
        </div>
    </div>
</section>