<header class="header">
  <div class="header__container container">
    <div class="header__wrapper">
      <div class="header__logo">
        <img src="../img/logo/logo-header.svg" alt="logo">
      </div>
      <div class="header__group">
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <a href="#about" class="header__link">about me</a>
            </li>
            <li class="header__item">
              <a href="#experience" class="header__link">experience</a>
            </li>
            <li class="header__item">
              <a href="#features" class="header__link">features</a>
            </li>
            <li class="header__item">
              <a href="#gallery" class="header__link">projects</a>
            </li>
            <li class="header__item">
              <a href="#contact" class="header__link">get in touch</a>
            </li>
          </ul>
        </nav>
        <div class="header__lang">
          <p class="header__lang-selected">En</p>
          <ul class="header__lang-list">
            <li class="header__lang-item js-option">En</li>
            <li class="header__lang-item js-option">Fr</li>
            <li class="header__lang-item js-option">Ua</li>
          </ul>
        </div>
        <div class="header__menu">
          <div class="header__hamburger">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 404.2">
              <path d="M40.4,404.2c-22.3,0-40.4-18.1-40.4-40.4s18.1-40.4,40.4-40.4h431.2c22.3,0,40.4,18.1,40.4,40.4s-18.1,40.4-40.4,40.4H40.4ZM40.4,242.5c-22.3,0-40.4-18.1-40.4-40.4s18.1-40.4,40.4-40.4h431.2c22.3,0,40.4,18.1,40.4,40.4s-18.1,40.4-40.4,40.4H40.4ZM40.4,80.8C18.1,80.8,0,62.8,0,40.4S18.1,0,40.4,0h431.2c22.3,0,40.4,18.1,40.4,40.4s-18.1,40.4-40.4,40.4H40.4Z"/>
            </svg>
          </div>
          <div class="header__close">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 511.9">
              <path d="M420.4,496.2l-164.4-164.4-164.4,164.4c-20.9,21-54.9,21-75.9,0,0,0,0,0,0,0-21-21-21-54.9,0-75.9,0,0,0,0,0,0l164.4-164.4L15.7,91.6c-21-21-21-54.9,0-75.9,0,0,0,0,0,0,20.9-21,54.9-21,75.9,0,0,0,0,0,0,0l164.4,164.4L420.4,15.7c20.9-21,54.9-21,75.9,0,0,0,0,0,0,0,21,21,21,54.9,0,75.9,0,0,0,0,0,0l-164.4,164.4,164.4,164.4c21,21,21,54.9,0,75.9,0,0,0,0,0,0-10.1,10.1-23.7,15.7-37.9,15.7-14.2,0-27.9-5.6-37.9-15.7Z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
