<section class="section review">
    <div class="container">
        <div class="title">
            <h2 class="title__text">testimonials</h2>
        </div>
        <div class="review__slider">
            <div class="swiper-button-next review__button-next">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 275.7 512">
                    <path d="M269.9,242.1c7.7,7.7,7.7,20.1,0,27.8L33.6,506.2c-7.7,7.7-20.1,7.7-27.8,0-7.7-7.7-7.7-20.1,0-27.8l222.4-222.4L5.8,33.6C-1.9,25.9-1.9,13.4,5.8,5.8c7.7-7.7,20.1-7.7,27.8,0l236.3,236.3h0Z"/>
                </svg>
            </div>
            <div class="swiper-button-prev review__button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 275.7 512">
                    <path d="M5.7,242.1c-7.7,7.7-7.7,20.1,0,27.8l236.3,236.3c7.7,7.7,20.1,7.7,27.8,0,7.7-7.7,7.7-20.1,0-27.8L47.5,256,269.9,33.6c7.7-7.7,7.7-20.1,0-27.8-7.7-7.7-20.1-7.7-27.8,0L5.7,242.1h0Z"/>
                </svg>
            </div>
            <div class="review__swiper-pagination swiper-pagination"></div>
            <div class="review__slider-container swiper-container">
                <div class="swiper-wrapper">
                    <div class="review__slider-item swiper-slide">
                        <div class="review__content">
                            <p class="review__descr paragraph">
                                I had the pleasure of working with Olivia on a project, and I must say, their web design skills are exceptional. 
                                They brought creativity, attention to detail, and a deep understanding of user experience to the table, resulting 
                                in a visually stunning and user-friendly website.
                            </p>
                            <div class="review__group">
                                <p class="review__name item-title">Amely Johnson</p>
                                <p class="review__job">PERSONAL CONSULTANT</p>
                            </div>
                        </div>
                        <div class="review__picture">
                            <img src="../img/review-photo.png" alt="photo">
                        </div>
                    </div>

                    <div class="review__slider-item swiper-slide">
                        <div class="review__content">
                            <p class="review__descr paragraph">
                                I had the pleasure of working with Olivia on a project, and I must say, their web design skills are exceptional. 
                                They brought creativity, attention to detail, and a deep understanding of user experience to the table, resulting 
                                in a visually stunning and user-friendly website.
                            </p>
                            <div class="review__group">
                                <p class="review__name item-title">Amely Johnson</p>
                                <p class="review__job">PERSONAL CONSULTANT</p>
                            </div>
                        </div>
                        <div class="review__picture">
                            <img src="../img/review-photo.png" alt="photo">
                        </div>
                    </div>

                    <div class="review__slider-item swiper-slide">
                        <div class="review__content">
                            <p class="review__descr paragraph">
                                I had the pleasure of working with Olivia on a project, and I must say, their web design skills are exceptional. 
                                They brought creativity, attention to detail, and a deep understanding of user experience to the table, resulting 
                                in a visually stunning and user-friendly website.
                            </p>
                            <div class="review__group">
                                <p class="review__name item-title">Amely Johnson</p>
                                <p class="review__job">PERSONAL CONSULTANT</p>
                            </div>
                        </div>
                        <div class="review__picture">
                            <img src="../img/review-photo.png" alt="photo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>